<div id="newpost">
	<textarea id="postContent" placeholder="Wanna share your wonderful clothes?"></textarea>
	<div id="sendPost" class="<%= @me['id'] %>">Send</div>
</div>
<div class="tabs_back" id="tabs">
	<ul class="tabs">
		<li><a href="#tabs1">My Posts</a></li>
		<li><a href="#tabs2">All Posts</a></li>
	</ul>

	<div class="tab_container">
		<div id="tabs1" class="tab_content">
		<% if !@user.posts.empty? %>
		<div id="myPost">
		<% lines = @user.posts.order("updated_at DESC") %>
		<% lines.each do |post| %>
			<div class="mutton">
				<div class="aPost" id="<%= User.find(post.read_attribute(:user_id)).read_attribute(:account) %>">
					<img src="https://graph.facebook.com/me/picture?access_token=<%= @access_token %>" />
					<a class="postName"><%= @me['name'] %></a><br />
					<a class="postContent"><%= post[:content] %></a><br />
					<a class="postTime"><%= post[:created_at].getlocal %></a>
				</div>
				<!-- comment part -->
				<% post.comments.each do |comment| %>
				<div class="aComment">
					<img src="https://graph.facebook.com/<%= User.find(comment.read_attribute(:user_id)).read_attribute(:acccount) %>/picture">
					<a class="commentName"><%= %></a><br />
					<a class="postContent"><%= comment[:content] %></a><br />
					<a class="postTime"><%= comment[:created_at].getlocal %></a>
				</div>
				<% end %>
				<!-- reply textbox -->
				<div id="reply">
					<textarea id="replyContent" placeholder="Give a reply..."></textarea>
					<div id="sendReply" class="<%= @me['id'] %>">Send</div>
				</div><!--button functionality in JS-->
			</div>
		<% end %>
		</div>
		<% end %>
		</div>
		</div>
		<!-- All Post tab -->
		<div id="tabs2" class="tab_content">
		<% if !@user.posts.empty? %>
		<div id="allPost">
		<% lines = @user.posts.order("updated_at DESC") %>
		<% lines.each do |post| %>
			<div class="mutton">
				<div class="aPost" id="<%= User.find(post.read_attribute(:user_id)).read_attribute(:account) %>">
					<img src="https://graph.facebook.com/me/picture?access_token=<%= @access_token %>" />
					<a class="postName"><%= @me['name'] %></a><br />
					<a class="postContent"><%= post[:content] %></a><br />
					<a class="postTime"><%= post[:created_at].getlocal %></a>
				</div>
				<!-- comment part -->
				<% post.comments.each do |comment| %>
				<div class="aComment">
					<img src="https://graph.facebook.com/<%= User.find(comment.read_attribute(:user_id)).read_attribute(:acccount) %>/picture">
					<a class="commentName"><%= %></a><br />
					<a class="postContent"><%= comment[:content] %></a><br />
					<a class="postTime"><%= comment[:created_at].getlocal %></a>
				</div>
				<% end %>
				<!-- reply textbox -->
				<div id="reply">
					<textarea id="replyContent" placeholder="Give a reply..."></textarea>
					<div id="sendReply" class="<%= @me['id'] %>">Send</div>
				</div><!--button functionality in JS-->

			</div>
		<% end %>	
		</div>
		<% end %>
	</div>
</div>