	<div id="top">

		<div id="topContent">
			<div class="lfloat" id="logo">
				<!--LOGO-->
			</div>
			<div class="rfloat" id="topFunctions">
				<ul>
					<% if @access_token %>
					<li><%= link_to '檢視衣櫃', home_path %></li>
					<li><%= link_to '編輯名單', friends_path %></li>
					<li><%= link_to '使用說明', help_path %></li>
					<li><%= link_to '登出', logout_path %></a></li>
					<% else %>
					<li><%= link_to 'Login', login_path %></li>
					<% end %>
				</ul>
			</div>
		</div>
	</div>