<div id="globalContainer">
	<%= render "home/top" %>

	<div id="content">
	<% if @access_token %>
	<div id="left_menu" class="lfloat">
		<%= render "home/leftMenu" %>    
	</div>

	<div id="mainContainer" class="lfloat">
		
		<div class="friends">
		<!--<form id="friends">--><!--<%= form_tag do%>-->
		<span id="friends">Save Changes</span>
		<% @friends['data'].each do |friend| %>
			<div class="afriend" >
				<%= check_box_tag('checkable', 
								   value = friend['id'], 
								   checked = false ) %>
				<img src="https://graph.facebook.com/<%= friend['id'] %>/picture" />
				<%= friend['name'] %>
				<div class="check rfloat">â—</div>
			</div>
		<% end %>
		
		<!--<% end %></form>-->
		</div>

	</div>
	<div id="right_menu" class="rfloat"><%= render "home/rightMenu" %></div>

	<% end %>
	</div>
	<div id="footer"></div>
</div>

<%= javascript_include_tag "settings.js" %> <!--!@prevList[ friend['id'] ].nil?-->