<div id='siteLoader'> 
        <div id='siteDetailLoader' style="font-size: 600px; display: none;"> 
        Please wait while the page loads...<br /> <br /> 
        </div> 
</div> 

<div id="globalContainer">

	<%= render "home/top" %>

	
	<% if @access_token %>
	<div id="content">
	<div id="left_menu" class="lfloat">
		<%= render "home/leftMenu" %>    
	</div>

	<% @user = User.find_by_account( cookies[:user] ) %>
	<div id="mainContainer" class="lfloat">
		<div class="closet" align="center">
			<table class="shelf">
			    <tr><td id="1" rowspan="4" class="shelf_space shelf_browse"><%= @user[:sh1] %></td><td id="2" class="shelf_space shelf_browse"><%= @user[:sh2] %></td></tr>
			    <tr><td id="3" class="shelf_space shelf_browse"><%= @user[:sh3] %></td></tr>
			    <tr><td id="4" class="shelf_space shelf_browse"><%= @user[:sh4] %></td></tr>
			    <tr><td id="5" class="shelf_space shelf_browse"><%= @user[:sh5] %></td></tr>
			    <tr><td id="6" class="shelf_space shelf_browse"><%= @user[:sh6] %></td>
			    	<td id="7" class="shelf_space shelf_browse"><%= @user[:sh7] %></td></tr>
		    </table>
		</div>
	</div>
	<div id="right_menu" class="rfloat"><%= render "home/rightMenu" %></div>
	</div>
	<% else %>
	<%= render "home/blank" %>
	<% end %>
	
	<div id="footer"></div>
</div>