<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">



<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="stylesheets/jquery-ui.css">
<link rel="stylesheet" href="stylesheets/jquery-ui.custom.css">
<link rel="stylesheet" href="stylesheets/jquery-ui-1.8.20.custom.css">
<link rel="stylesheet" type="text/css" href="stylesheets/main.css" media="screen">
<link rel="stylesheet" type="text/css" href="stylesheets/closet.css" media="screen">
<link rel="stylesheet" type="text/css" href="stylesheets/popups.css" media="screen">

<title>CloClo</title>
</head>
<body>-->
<div id="shadow">
	<div><button id="close" class="rfloat">Close</button></div>
</div>

<div id="window">
</div>
<!--<div id="HiddenContainer" style="position:absolute; top:-10000px; width:0px; height:0px;"></div>-->
<div id="top">
	<div id="topContent">
		<div class="lfloat" id="logo">
			<!--LOGO-->
		</div>
		<div class="rfloat" id="topFunctions">
			<ul>
				<% if @access_token %>
				<li><!--<a href="friendlist.html">編輯名單</a>--><%=link_to '編輯名單', friends_path %></li>
				<li><%= link_to '使用說明', help_path %></li>
				<li><%= link_to '登出', logout_path %></a></li>
				<% else %>
				<li><%= link_to 'Login', login_path %></li>
				<% end %>
			</ul>
		</div>
	</div>
</div>

<div id="globalContainer">
	<% if @access_token %>
	<div id="left_menu" class="lfloat">
		<div class="welcome_box">
			<% if @access_token %>
			<img src="https://graph.facebook.com/me/picture?access_token=<%= @access_token %>" />
			<div class="username"><%= @me['name'] %></div> 
			<% else %>
    		<%= image_tag "userimage.jpg" %>
    		<div class="username">Hsiang Chih</div> 
    		<% end %>
    		       
		</div>
    <!--<form id="closetFunction">
	    <div align="left"><button id="create">Create</button></div>
	    <div align="left"><button type="submit">Search</button></div>
	    <div align="left"><button type="submit">Settings</button></div>
    </form>-->
	    <ul id="closetFunction">
		    <li id="create">　＋　Create</li>
		    <li id="search">　＞　Search</li>
		    <li id="settings">　＜　Settings</li>
	    </ul>
    	<div class="reminder">
    		
    		<img id="new_cloth" src="images/cloth.jpg" style="display:none;">
    	</div>    
	</div>

	<div id="mainContainer" class="lfloat">
		<div class="closet" align="center">
			<table class="shelf">
			    <tr><td rowspan="4" class="shelf_space">大衣</td><td class="shelf_space">短袖上衣</td></tr>
			    <tr><td class="shelf_space">長袖上衣</td></tr>
			    <tr><td class="shelf_space">短褲</td></tr>
			    <tr><td class="shelf_space">長褲</td></tr>
			    <tr><td class="shelf_space">鞋子</td><td class="shelf_space">飾品</td></tr>
		    </table>
		</div>
	</div>
	<div id="right_menu" class="rfloat">
		<div class="tabs_back" id="tabs">
			<ul class="tabs">
				<li><a href="#tabs1">New Posts</a></li>
				<li><a href="#tabs2">My Posts</a></li>
			</ul>
	 
			<div class="tab_container">
				<div id="tabs1" class="tab_content">
					<h2>關於作者</h2>
					<p>目前工作是網頁開發為主，因此針對了 HTML, JavaScript, CSS 等知識特別深入研究。若有任何問題，歡迎直接留言或是透過 Mail 討論。</p>
				</div>
				<div id="tabs2" class="tab_content">
					<h2>jQuery is a new kind of JavaScript Library.</h2>
					<p>jQuery is a fast and concise JavaScript Library that simplifies HTML document traversing, event handling, animating, and Ajax interactions for rapid web development. jQuery is designed to change the way that you write JavaScript</p>
				</div>
			</div>
		</div>
	</div>
	<% end %>
</div>



<div id="footer"></div>


<!--<%= javascript_include_tag "jquery.min" %>
<%= javascript_include_tag "javascripts/jquery-ui.min" %>
<%= javascript_include_tag "jquery.ui.touch-punch.min" %>
<%= javascript_include_tag "jquery-ui-1.8.20.custom.min" %>
<%= javascript_include_tag "javascripts/javascript_main" %>
<script type="text/javascript" src="javascripts/jquery.min.js"></script>
<script type="text/javascript" src="javascripts/jquery-ui.min.js"></script>
<script type="text/javascript" src="javascripts/jquery.ui.touch-punch.min.js"></script>
<script type="text/javascript" src="javascripts/jquery-ui-1.8.20.custom.min.js"></script>
<script type="text/javascript" src="javascripts/javascript_main.js"></script>-->
<!--<%= javascript_include_tag "application" %>  -->

<!--</body>


</html>-->
