<div id="browse" class="pop_up">
	<div class="popupHeader"><span>●　在外衣服</span><span class="rfloat" id="close">×</span></div>
	<div class="popupMain">
		<ul class="list">
			<% @user = User.find_by_account( cookies[:user] ) %>
			<% @cloth = @user.cloths.where(:signal => "lightNotAvailable") %>
			<% if @cloth.empty? %>
			<div class="if_empty">【這個衣櫃格子是空的】</div>
			<% end %>
			<% @cloth.each do |clo| %>
				<li class="hanger">
		    		<div class="<%=clo['signal']%> remind_signal" title="<%=clo['id']%>">●</div>
		    		<div class="clothPic"><img src="/uploads/<%= clo['image'] %>" /><br/>
		    		<ul>
		    		<li class="plain_text"><div class="plain_text_bold">分類：</div><%= clo['public_class'] %></li>
		    		<li class="plain_text"><div class="plain_text_bold">顏色：</div>
		    			<% @color = clo.colors %>
		    			<% @color.each do |c| %>
		    			<font color="<%= c['color'] %>">■</font>
		    			<% end %></li>
		    		<li class="plain_text"><div class="plain_text_bold">衣櫃：</div><%= clo['private_class'] %></li>
		    		<li class="plain_text"><div class="plain_text_bold">隱私：</div>
		    			<% if clo['privacy'] == false %>
		    			<%='公開' %>
		    			<% else %>
		    			<%='非公開' %>
		    			<% end %></li>
		    		<li class="plain_text"><div class="plain_text_bold">補充：</div><%= clo['description'] %></li>
		    		<%= link_to '刪除', {:controller => "cloth", :action => "delete", :id => clo.id }, :class => :plain_text_link, confirm: '您確定要刪除？' %>

		    		</ul>
				</li>
			<% end %>
	       
		</ul>
	</div>
</div>
<script>
	$(function() {
		$( "#browse" ).slider();
	});
</script>